repo/*
repo/!embed.go
openapi-generator-cli.jar
*.pprof
terraform/.*
terraform/*.tfstate*
development-terraform/.*
development-terraform/*.tfstate*
*.exe
.vscode/*

**/.DS_Store

**/__debug_bin*

**/~$*

**/__pycache__